.container {
  width: 100%;
  max-width: $container_width;
  padding: 0 $padding_big;
  margin: 0 auto;

  &--full-width {
    max-width: 100%;
    padding: 0;
    margin: -$padding_big auto 0;
  }

  &--header,
  &--footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      display: block;
    }
  }
}